@use "../../assets/sass/_variables.scss" as *;

.card__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid $color-bright-red;
  font-size: 20px;
  margin: 1px;
  padding: 20px;
  // text-transform: uppercase;
  font-weight: bolder;
  background-color: $color-yellow;
  color: $color-green;

  p {
    background-color: $color-yellow;

  }
  .counter__number {
    background-color: $color-yellow;
    color: $color-neon-red;
    font-weight: bolder;
    


  }


  .counter__buttons {
    display: flex;
    background-color: $color-yellow;

    .buttons__button {
      margin: 20px;
      padding: 10px;
      border-radius: 5px;
      background-color: $color-mustard;
    }
  }
}