$color-black: #2D3436;
$color-white: #FFFFFF;
$color-primary: #5DADB0;
$color-secondary: #FDCB6E;
$color-gray: gray;
$color-neon-pink:#FF10F0;
$color-neon-blue: #1F51FF;
$color-neon-red: #ff2d3f;
$color-green:#30472a;
$color-yellow:#c1d077;
$color-bright-red: #e6050b;
$color-mustard:#a39538;